.titu{
    padding-top: 5px;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../img/fondogatos.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.vacio{
    width: 100%;
    height: 400px;
}

.datosTablas {
    padding: 10px;
    border:4px solid #7e7e7e;
    text-align: center;
}


footer {
    height: 100px;
}
